<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
     
      <a class="navbar-brand" [routerLink]="['/']">
        <strong>
          {{title}}
        </strong>
      </a>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comp1']" [routerLinkActive]="['active']">Component 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comp2']" 
              [queryParams]="{color: 'blue', sort: 'name'}" [routerLinkActive]="['active']">Component 2</a>  
                <!-- Route with Query Parameters: /comp2?color=blue&sort=name -->
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comp3', '2']" [routerLinkActive]="['active']" >Component 3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<!-- <h1>
  Hello Angular!
</h1>
<hr/> -->

<!-- <app-form-demo></app-form-demo> -->
<!-- <hr/> -->
  <!-- <app-reactive-form-demo></app-reactive-form-demo>
  <hr/> -->
<!-- <app-demo-form-array></app-demo-form-array>
<hr/> -->
<!-- <app-product-comp></app-product-comp>
<hr/> -->
  <!-- <button (click)="getAllProducts()">Get All Products</button>
<table *ngIf="products">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productId }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
    </tr>
  </tbody>
</table>
<hr/>
<app-parent-comp></app-parent-comp>
<hr/>
<app-hello-world></app-hello-world> -->